@import 'wormhole/variables';

/* General */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  > hgroup {
    > h2 {
      color: $color-musou;
    }
  }
  > .description {
    margin: 1rem 0;
  }
}

h1, h2 {
  line-height: 1.25em;
}
.textgroup {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 30rem;
}

.authorship {
  color: $color-watchout;
  > .item {
    > .job {
      width: 4rem;
      margin-right: 1rem;
      opacity: 0.65;
    }
    > .person:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

$max-width: 30rem;
.draw {
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

/* Graph */
.graph {
  max-width: $max-width;
  margin: 4rem auto;

  .after {
    position: relative;

    > *:not(button) {
      visibility: hidden;
    }
    &.reveal {
      > button {
        display: none;
      }
      > *:not(button) {
        visibility: visible;
      }
    }

    > .score {
      text-align: center;
      font-size: 0.875rem;
      > .number {
        line-height: 1em;
        @include font-monospace;
        font-size: 4rem;
        font-weight: bold;
        color: $color-musou;
        margin: 0 0.25rem;
      }
    }
    > .text {
      margin-top: 1rem;
    }

    > button {
      position: absolute;
      top: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      padding: 0.5rem 1rem;
      background: $color-musou;
      border-radius: 2px;
      color: white;
      font-size: 1rem;
      text-align: center;
      cursor: pointer;

      &:active, &:focus {
        outline: none;
      }
    }
  }
}
svg {
  cursor: pointer;
  display: block;
  circle {
    fill: none;
  }
  path {
    fill: none;
  }
  text {
    @include font-monospace;
    font-size: 0.75rem;
    &.unit-label {
      text-anchor: start;
    }
  }
  .hide {
    visibility: hidden;
  }
  .tick {
    text {
      fill: rgba(black, 0.25);
    }
    line {
      stroke: rgba(black, 0.13);
      stroke-dasharray: 2,2;
    }
  }
  .sequence {
    path {
      stroke-width: 5;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    text.data {
      text-anchor: middle;
    }
    text.title {
      font-size: 0.875rem;
      text-anchor: start;
      alignment-baseline: hanging;
    }
    &.comp {
      path {
        stroke: rgba(black, 0.25); //rgb(89, 89, 225);
      }
    }
    &.user {
      path {
        stroke: $color-park;
      }
    }
    &.orig {
      path {
        stroke: $color-musou;
      }
    }
  }
  .axis-y {
    @include bp-sm-only {
      display: none;
    }
  }
}

@keyframes grow {
  0% { width: 0; }
  100% { width: 60px; }
}
@keyframes move {
  0% { transform: none; }
  100% { transform: translate(52px, -30px); }
}
$animation-time: 1s;
$animation-iteration-count: infinite;

.you-draw {
  pointer-events: none;
  position: absolute;
  width: 120px;
  height: 120px;
  > .line {
    width: 60px;
    height: 5px;
    background-size: 20px 5px;
    background-image: linear-gradient(to right, $color-park, $color-park 50%, transparent 50%, transparent);
    transform: rotate(-30deg);
    transform-origin: center left;
    position: absolute;
    top: 50px;
    animation: grow $animation-time $animation-iteration-count;
  }
  > .hand {
    position: absolute;
    bottom: 0;
    left: -16px;
    width: 40px;
    height: 60px;
    background-image: url(../asset/hand.svg);
    animation: move $animation-time $animation-iteration-count;
  }
}
