@import 'wormhole/variables';

/* General */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
$max-width: 30rem;
.draw {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

/* Graph */
.graph {
  max-width: $max-width;
  margin: 0 auto;
}
svg {
  cursor: pointer;
  display: block;
  circle {
    fill: none;
  }
  path {
    fill: none;
  }
  text {
    @include font-monospace;
    font-size: 0.75rem;
    &.unit-label {
      text-anchor: start;
    }
  }
  .hide {
    visibility: hidden;
  }
  .tick {
    text {
      fill: rgba(black, 0.25);
    }
    line {
      stroke: rgba(black, 0.13);
      stroke-dasharray: 2,2;
    }
  }
  .sequence {
    path {
      stroke-width: 5;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    text {
      text-anchor: middle;
    }
    &.user {
      path {
        stroke: $color-park;
      }
    }
    &.orig {
      path {
        stroke: $color-musou;
      }
    }
  }
  .axis-y {
    @include bp-sm-only {
      display: none;
    }
  }
}


/* Other UI elements */

button {
  display: block;
  width: 6rem;
  margin: 0.25rem auto;
  padding: 0.5rem 0;
  background: $color-musou;
  border-radius: 2px;
  color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}
