/* General */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* Graph */

.graph {
  text-align: center;
}
svg {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
path {
  fill: none;
}
.hide {
  visibility: hidden;
}
#user {
  $color: blue;
  circle {
    fill: $color
  }
  path {
    stroke: $color;
    stroke-width: 2;
  }
}
#original {
  $color: lime;
  circle {
    fill: $color;
  }
  path {
    stroke: $color;
    stroke-width: 2;
  }
}

/* Other UI elements */

button {
  margin: 0.25rem;
  padding: 0.5rem;
  background: rgba(blue, 0.25);
  border: 2px blue solid;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}
